{{> metabase/email/_header.hbs }}
    <p>You’re now getting alerts about <a href="{{{card-url payload.card_id}}}">{{payload.card.name}}</a>.</p>
    <p>We’ll send you an email
      {{#if (equals payload.send_condition "has_result")}}
        whenever this question has any results
      {{else}}
        {{#if (equals payload.send_condition "goal_above")}}
          when this question meets its goal
        {{else}}
          {{#if (equals payload.send_condition "goal_below")}}
            when this question goes below its goal
          {{/if}}
        {{/if}}
      {{/if}}
    .</p>
    <p>If you don’t want to receive these alerts, you can <a href="{{{card-url payload.card_id}}}">go to this question</a> and unsubscribe by clicking the sharing icon on the top right.</p>
{{> metabase/email/_footer.hbs}}
