{{> metabase/email/_header.hbs }}
    <p>This is just a confirmation that your alert about <a href="{{context.site_url}}/question/{{payload.event_info.object.card.id}}">{{payload.event_info.object.card.name}}</a> has been set up.</p>
    <p>This alert will be sent
      {{#with payload.event_info.object}}
        {{#if (equals alert_condition "goal")}}
          {{#if alert_above_goal}}
            when this question meets its goal
          {{else}}
            when this question goes below its goal{{/if}}
        {{else}}
          whenever this question has any results
        {{/if}}
      {{/with}}</p>
{{> metabase/email/_footer.hbs}}
