{{> metabase/channel/email/_header.hbs }}
  <div style="padding: 2em 4em; border: 1px solid #dddddd; border-radius: 2px; background-color: white; box-shadow: 0 1px 2px rgba(0, 0, 0, .08); ">
    <p>{{payload.event_info.actor.first_name}} {{payload.event_info.actor.last_name}} has deleted a row from {{payload.event_info.table.name}}</p>
    <p>Deleted row:</p>
    <ul>
      {{#each payload.event_info.deleted_row}}
        {{#if @value}}<li>{{@key}}: {{@value}}</li>{{/if}}
      {{/each}}
    </ul>
  </div>
{{> metabase/channel/email/_footer.hbs }}
