{{> metabase/channel/email/_header.hbs }}
  <div style="padding: 2em 4em; border: 1px solid #dddddd; border-radius: 2px; background-color: white; box-shadow: 0 1px 2px rgba(0, 0, 0, .08);">
    <p><strong>A new record was <i>created</i></strong> in <a href="{{context.scope.origin_url}}" target="_blank">Table {{table.name}}</a>{{#if editor.common_name }} by {{editor.common_name}}{{/if}}.</p>
    <table style="width: 100%; border-collapse: collapse; font-family: inherit; margin-top: 2em;">
      <thead>
        <tr style="border-bottom: 2px solid #ededed;">
          <th style="border-bottom: 2px solid #ededed; text-align: left; padding: 10px 0 10px 0; font-weight: bold; font-size: 18px; border-collapse: collapse;">Field</th>
          <th style="border-bottom: 2px solid #ededed; text-align: left; padding: 10px 0 10px 0; font-weight: bold; font-size: 18px; border-collapse: collapse;">Value</th>
        </tr>
      </thead>
      <tbody>
        {{#each record}}
          <tr style="border-bottom: 1px solid #ededed;">
            <td style="border-bottom: 1px solid #ededed; padding: 10px 0 10px 0; font-size: 17px; color: #222; font-weight: normal; border-collapse: collapse;">{{@key}}</td>
            <td style="border-bottom: 1px solid #ededed; padding: 10px 0 10px 0; text-align: left; font-size: 17px; color: #222; font-weight: normal; border-collapse: collapse;">{{@value}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <p>
      <a href="{{context.scope.origin_url}}" target="_blank">View table in Metabase</a>
    </p>
  </div>
{{> metabase/channel/email/_footer.hbs }}
