{{> metabase/channel/email/_dashsub_alert_header.hbs }}
  <body style="padding: 0px">
    <table class="background" width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color: #F9F9F9; padding: 20px; table-layout: fixed;">
      <tr>
        <td>
          <div class="container" style="background-color: white; max-width: 555px; border-radius: 24px; margin: 0 auto; padding: 30px;">
            {{#if context.include_branding}}
              <a {{#unless payload.notification_card.disable_links}}href="https://www.metabase.com?utm_source=product&utm_medium=export&utm_campaign=exports_branding&utm_content=alert"{{/unless}}>
                <div style="text-align: right; height: 28px; margin-bottom: 16px; color: {{payload.style.color_text_dark}};">
                  <span style="font-size: 12px; vertical-align: middle;">Made with</span>
                  <img width="22.4" height="28" src="{{context.application_logo_url}}" style="vertical-align: middle; margin-inline: 4px;"/>
                  <span style='font-size: 16px; font-weight: 700; vertical-align: middle;'>Metabase</span>
                </div>
              </a>
            {{/if}}
            <table class="header">
              <tr>
                <td width="28px" style="vertical-align: top;">
                  <img class="icon" style="padding-top: 4px; padding-right: 16px; width: 100%; height: auto; max-width: 20px" src="cid:{{computed.icon_cid}}"/>
                </td>
                <td>
                  <a class="title" {{#unless payload.notification_card.disable_links}}href="{{{card-url payload.card.id}}}"{{/unless}} style="font-size: 20px; font-weight: 700; padding-bottom: 4px;">
                    {{payload.card.name}}
                  </a>
                </td>
              </tr>
              <tr>
                <td>&#8202;</td>
                <td>
                  <div style="color: {{payload.style.color_text_dark}}; font-size: 14px">
                    {{computed.alert_schedule}}
                  </div>
                </td>
              </tr>
              <tr>
                <td>&#8202;</td>
                <td>
                  <div class="sender" style="color: {{payload.style.color_text_light}}; font-size: 12px">
                    Sent by {{creator.common_name}}
                  </div>
                </td>
              </tr>
            </table>
            {{{computed.content}}}
            {{#if computed.goal_value}}
              <p style="color: {{payload.style.color_text_medium}}; font-size: 12px; font-weight: 400">
                {{#if (equals payload.notification_card.send_condition "goal_above")}}
                  This question has reached its goal of {{computed.goal_value}}.
                {{else}}
                  This question has gone below its goal of {{computed.goal_value}}.
                {{/if}}
              </p>
            {{/if}}
            {{#if payload.notification_card.send_once}}
              <p style="color: {{payload.style.color_text_medium}}; font-size: 12px; font-weight: 400">
              We’ll stop sending you alerts about this question now.
              </p>
            {{/if}}
            {{#unless payload.notification_card.disable_links}}
              <hr>
              <div class="footer" style="font-size: 11px; width: max-content; margin: 0 auto">
                Sent from <a href="{{context.site_url}}" style="color: {{context.application_color}}">{{context.site_url}}</a>.
                <a href="{{{computed.management_url}}}" style="color: {{context.application_color}}">{{computed.management_text}}</a>
              </div>
            {{/unless}}
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
