{{> metabase/channel/email/_header.hbs }}
Your {{#if (equals payload.event_info.payload_type "notification/card")}}alert{{else}}dashboard subscription{{/if}} of <a href="{{#if (equals payload.event_info.payload_type "notification/card")}}{{{card-url payload.event_info.alert.card_id}}}{{else}}{{{dashboard-url payload.dashboard_subscription.dashboard_id}}}{{/if}}">{{#if (equals payload.event_info.payload_type "notification/card")}}{{payload.event_info.alert.card.name}}{{else}}{{payload.event_info.dashboard_subscription.dashboard.name}}{{/if}}</a> failed to send with the following error: {{payload.event_info.error-message}}
{{> metabase/channel/email/_footer.hbs }}
