{{> metabase/channel/email/_header.hbs }}

{{#with payload.event_info}}
  Your {{#if (equals payload_type "notification/card")}}
    alert of <a href="{{{card-url alert.card_id}}}">{{alert.card.name}}</a>
  {{else}}
    dashboard subscription of <a href="{{{dashboard-url dashboard_subscription.dashboard_id}}}">{{dashboard_subscription.dashboard.name}}</a>
  {{/if}}
  failed to send with the following error: {{error-message}}
{{/with}}

{{> metabase/channel/email/_footer.hbs }}
